<div class="navbar navbar-expand-sm navbar-light navbar-lewagon orange-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img alt="Hackernews Logo" class="border border-white border-2" src="/assets/logo-fffd3821e1195fbb2e936706276e66454ee5550ef94667758ea32583087bf303.svg" />
      <span class="fw-bold">Hackernews</span>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
      </ul>
    </div>
  </div>
</div>
